.reviewSwiper{
    width: calc(100vw - 400px);
}

.swiper.swiper-horizontal{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 4.5rem;
}
.swiper-wrapper{
    padding-top: 4.5rem;
}
.swiper-slide{
    height: auto !important;
}
.swiper-pagination{
    position: absolute !important;
    top: 0px !important;
}
.swiper-pagination-bullet{
    width: 16px !important;
    height: 16px !important;
}

@media (max-width: 600px){
    .reviewSwiper{
        width: 100vw;
        padding-left: 24px;
        padding-right: 24px;
    }
}