@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  font-size: 75px;
  line-height: 82.5px;
  font-weight: 500;
  letter-spacing: -4px;
}
h2{
  font-size: 65px;
  line-height: 71.5px;
}
p{
  line-height: 31px;
}
body {
  color: #021744;
  margin: 0;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
